.title {
    padding: 0;
    margin: 0;
}

.title__container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 95%;
    margin: 0 auto;
}

.title img {
    height: 10em;
    margin-right: 2rem;
}

.title h1 {
    align-items: flex-end;
    font-size: 4em;
    color: firebrick;
}

.details {
    display: flex;
    justify-content: space-evenly;
}

.detail--column {
    flex-basis: 24%;
    margin: 0 2rem;
    border: 1px dotted firebrick;
}

.list h2,
.assignments h2 {
    padding-left: 1rem;
    color: firebrick;
}

.assignments {
    max-width: 40%;
    margin: 0 auto;
    padding: 1rem 5rem;
}

